In [1]:
from IPython.display import HTML
HTML('''
    <style> body {font-family: "Roboto Condensed Light", "Roboto Condensed";} h2 {padding: 10px 12px; background-color: #E64626; position: static; color: #ffffff; font-size: 40px;} .text_cell_render p { font-size: 15px; } .text_cell_render h1 { font-size: 30px; } h1 {padding: 10px 12px; background-color: #E64626; color: #ffffff; font-size: 40px;} .text_cell_render h3 { padding: 10px 12px; background-color: #0148A4; position: static; color: #ffffff; font-size: 20px;} h4:before{ 
    content: "@"; font-family:"Wingdings"; font-style:regular; margin-right: 4px;} .text_cell_render h4 {padding: 8px; font-family: "Roboto Condensed Light"; position: static; font-style: italic; background-color: #FFB800; color: #ffffff; font-size: 18px; text-align: center; border-radius: 5px;}input[type=submit] {background-color: #E64626; border: solid; border-color: #734036; color: white; padding: 8px 16px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 20px;}</style>
''')

In [2]:
from sqlalchemy import create_engine, text
import psycopg2
import psycopg2.extras
import json
import os
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'

credentials = "Credentials.json"

def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        host       = db_conn_dict['host']
        db_user    = db_conn_dict['user']
        db_pw      = db_conn_dict['password']
        default_db = db_conn_dict['user']
        port       = db_conn_dict['port']
        try:
            db = create_engine(f'postgresql+psycopg2://{db_user}:{db_pw}@{host}:{port}/{default_db}', echo=False)#, plugins=["geoalchemy2"])
            conn = db.connect()
            print('Connected successfully.')
        except Exception as e:
            print("Unable to connect to the database.")
            print(e)
            db, conn = None, None
        return db,conn

#edited to not need conn input
def query(sqlcmd, args=None, df=True):
    global conn
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(text(sqlcmd), args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

#can call this instead of having to redo everything when connection breaks
def reset():
    global db, conn
    db, conn = pgconnect(credentials)
    conn.execute(text("CREATE EXTENSION IF NOT EXISTS postgis;"))
    #conn.commit()
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS sa2; SET search_path TO sa2, public;"))
    #conn.commit()

reset()

Connected successfully.

In [3]:
#Geopandas imports
#%matplotlib inline

from __future__ import (absolute_import, division, print_function)
import os

import matplotlib as mpl
import matplotlib.pyplot as plt

from geoalchemy2 import Geometry, WKTElement

from shapely.geometry import Point, Polygon, MultiPolygon
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame
mpl.__version__, pd.__version__, gpd.__version__

('3.10.0', '2.2.3', '1.0.1')

In [153]:
import requests
srid=4283

def create_wkt_element(geom, srid):
    if geom.geom_type == 'Polygon':
        geom = MultiPolygon([geom])
    return WKTElement(geom.wkt, srid)
    
def mpoly_to_esri_json(multipolygon: MultiPolygon):
    rings = []
    for polygon in multipolygon.geoms:
        rings.append([list(coord) for coord in polygon.exterior.coords])
    return {
        "rings": rings,
        "spatialReference": {"wkid": srid}
    }

def nearbyPOI(area):
    baseURL = 'https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer/0/query'

    area_json = mpoly_to_esri_json(area)
    
    params = {
        'geometry': json.dumps(area_json),
        'geometryType': 'esriGeometryPolygon',
        'inSR': f"{srid}",
        'outFields': '*',
        'returnGeometry': 'true',
        'f': 'json'
    }
    
    response = requests.post(baseURL, params)
    """response_json = json.loads(response.text)['features']
    response = requests.get(baseURL, params)
    print(json.loads(response.text)['features'][1])"""
    return json.loads(response.text)['features']

In [189]:
pd.options.display.max_colwidth = 60

# Understanding and Ingesting the Data

# Income.csv
    Total earnings statistics by SA2 (for later correlation analysis).
    First 2 columns all filled, rest are sometimes filled with 'np'---needs filtering
#### sa2_code21
    9-digit integer primary key
#### sa2_name
    Varchar name of region
#### earners
    Number of people earning money in this sa2 region
#### median_age
    Not clear. Either median population age or median earner age
#### median_income
    Median income of sa2 area
#### mean_income
    Mean income of sa2 area

In [4]:
#read in data
income_data = pd.read_csv('Income.csv')
#rename sa2_code21
income_data.rename({"sa2_code21": "sa2_code"}, axis='columns', inplace=True)
#dropping rows with no data
income_data = income_data[income_data["earners"] != "np"]
income_data.head()

,sa2_code,sa2_name,earners,median_age,median_income,mean_income
0,101021007,Braidwood,2467,51,46640,68904
1,101021008,Karabar,5103,42,65564,69672
2,101021009,Queanbeyan,7028,39,63528,69174
3,101021010,Queanbeyan - East,3398,39,66148,74162
4,101021012,Queanbeyan West - Jerrabomberra,8422,44,78630,91981

In [5]:
"""effective but unnecessary
type_dict = {
    "sa2_code": int,
    "sa2_name": str,
    "earners": int,
    "median_age": int,
    "median_income": int,
    "mean_income": int
}
income_data = income_data.astype(type_dict)

income_data.dtypes"""

'effective but unnecessary\ntype_dict = {\n    "sa2_code": int,\n    "sa2_name": str,\n    "earners": int,\n    "median_age": int,\n    "median_income": int,\n    "mean_income": int\n}\nincome_data = income_data.astype(type_dict)\n\nincome_data.dtypes'

In [3]:
#creating table in database
conn.execute(text("""
DROP TABLE IF EXISTS Income;
CREATE TABLE Income(
    sa2_code INTEGER PRIMARY KEY,
    sa2_name VARCHAR(50),
    earners INTEGER,
    median_age INTEGER,
    median_income INTEGER,
    mean_income INTEGER
);"""))
conn.commit()

In [7]:
#ingesting data
income_data.to_sql("income", con=conn, if_exists='append', index=False)
conn.commit()

In [8]:
#test query
query( 
"""
SELECT *
FROM income
ORDER BY sa2_code
LIMIT 3;
""")

    sa2_code    sa2_name  earners  median_age  median_income  mean_income
0  101021007   Braidwood     2467          51          46640        68904
1  101021008     Karabar     5103          42          65564        69672
2  101021009  Queanbeyan     7028          39          63528        69174

# Population.csv
    Estimates of the number of people living in each SA2 by age range (for ”per capita” calculations).
    Some have very low or 0 populations
#### sa2_code
    9-digit integer primary key
#### sa2_name
    Name of sa2 region
#### 0-4_people, 5-9_people, 10-14_people, ..., 80-84_people, 85-and-over_people
    Integer number of people at the respective age in the respective sa2 region
#### total_people
    Population of that sa2 region (may be sum of other rows? not sure)

In [9]:
#reading csv file into dataframe
population_data = pd.read_csv('Population.csv')
population_data.head()

,sa2_code,sa2_name,0-4_people,5-9_people,10-14_people,15-19_people,20-24_people,25-29_people,30-34_people,35-39_people,...,45-49_people,50-54_people,55-59_people,60-64_people,65-69_people,70-74_people,75-79_people,80-84_people,85-and-over_people,total_people
0,102011028,Avoca Beach - Copacabana,424,522,623,552,386,222,306,416,...,572,602,570,520,464,369,226,142,70,7530
1,102011029,Box Head - MacMasters Beach,511,666,702,592,461,347,420,535,...,749,749,794,895,863,925,603,331,264,11052
2,102011030,Calga - Kulnura,200,225,258,278,274,227,214,286,...,325,436,422,397,327,264,190,100,75,4748
3,102011031,Erina - Green Point,683,804,880,838,661,502,587,757,...,859,882,901,930,917,1065,976,773,1028,14803
4,102011032,Gosford - Springfield,1164,1044,1084,1072,1499,1864,1750,1520,...,1330,1241,1377,1285,1166,949,664,476,537,21346

In [10]:
#renaming columns
column_names = {
    '0-4_people': 'age_0_to_4',
    '5-9_people': 'age_5_to_9',
    '10-14_people': 'age_10_to_14',
    '15-19_people': 'age_15_to_19',
    '20-24_people': 'age_20_to_24',
    '25-29_people': 'age_25_to_29',
    '30-34_people': 'age_30_to_34',
    '35-39_people': 'age_35_to_39',
    '40-44_people': 'age_40_to_44',
    '45-49_people': 'age_45_to_49',
    '50-54_people': 'age_50_to_54',
    '55-59_people': 'age_55_to_59',
    '60-64_people': 'age_60_to_64',
    '65-69_people': 'age_65_to_69',
    '70-74_people': 'age_70_to_74',
    '75-79_people': 'age_75_to_79',
    '80-84_people': 'age_80_to_84',
    '85-and-over_people': 'age_85_and_over'
}
population_data.rename(columns=column_names, inplace=True)

In [4]:
#creating table in database
conn.execute(text("""
DROP TABLE IF EXISTS population;
CREATE TABLE population(
    sa2_code INTEGER PRIMARY KEY,
    sa2_name VARCHAR(50),
    age_0_to_4 INTEGER,
    age_5_to_9 INTEGER,
    age_10_to_14 INTEGER,
    age_15_to_19 INTEGER,
    age_20_to_24 INTEGER,
    age_25_to_29 INTEGER,
    age_30_to_34 INTEGER,
    age_35_to_39 INTEGER,
    age_40_to_44 INTEGER,
    age_45_to_49 INTEGER,
    age_50_to_54 INTEGER,
    age_55_to_59 INTEGER,
    age_60_to_64 INTEGER,
    age_65_to_69 INTEGER,
    age_70_to_74 INTEGER,
    age_75_to_79 INTEGER,
    age_80_to_84 INTEGER,
    age_85_and_over INTEGER,
    total_people INTEGER
);"""))

In [12]:
#ingesting data
population_data.to_sql("population", con=conn, if_exists='append', index=False)
conn.commit()

In [13]:
#test query
query("""SELECT * FROM population ORDER BY length(sa2_name) DESC LIMIT 5;""")

,sa2_code,sa2_name,age_0_to_4,age_5_to_9,age_10_to_14,age_15_to_19,age_20_to_24,age_25_to_29,age_30_to_34,age_35_to_39,...,age_45_to_49,age_50_to_54,age_55_to_59,age_60_to_64,age_65_to_69,age_70_to_74,age_75_to_79,age_80_to_84,age_85_and_over,total_people
0,127011596,Hoxton Park - Carnes Hill - Horningsea Park,908,1108,1220,1094,925,840,863,1056,...,967,854,780,593,424,299,181,109,65,13299
1,128011605,Lilli Pilli - Port Hacking - Dolans Bay,198,233,261,280,231,131,116,152,...,264,256,260,215,187,169,112,56,61,3371
2,119041380,Monterey - Brighton-le-Sands - Kyeemagh,693,714,625,664,693,844,939,1049,...,1017,1032,977,751,737,719,559,479,411,13909
3,125011710,Wentworth Point - Sydney Olympic Park,1645,758,429,351,1399,3622,4507,2988,...,894,637,621,554,451,205,130,52,24,20653
4,122021691,North Narrabeen - Warriewood (South),702,822,849,763,527,476,595,679,...,891,817,716,627,500,455,287,200,151,10896

# Businesses.csv
    Number of businesses by industry and SA2 region, reported by turnover size ranges
#### industry_code
    Single-letter code correlating to the industry the businesses belongs to
#### industry_name
    Full name of the industry
#### sa2_code
    9-digit code. Cannot be used by itself as primary key, as it is repeated when different industries are in the same sa2 region
#### sa2_name
    Name of sa2 region
#### 0_to_50k_businesses, 50k_to_200k_businesses, 200k_to_2m_businesses, 2m_to_5m_businesses, 5m_to_10m_businesses, 10m_or_more_businesses
    Count of the number of businesses at that turnover size
#### total_businesses
    Estimated total number of businesses in that industry at that sa2 region

In [14]:
#reading csv file into dataframe
business_data = pd.read_csv("Businesses.csv")
business_data.head()

,industry_code,industry_name,sa2_code,sa2_name,0_to_50k_businesses,50k_to_200k_businesses,200k_to_2m_businesses,2m_to_5m_businesses,5m_to_10m_businesses,10m_or_more_businesses,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,A,"Agriculture, Forestry and Fishing",101021008,Karabar,6,3,0,0,0,0,9
2,A,"Agriculture, Forestry and Fishing",101021009,Queanbeyan,6,4,3,0,0,3,15
3,A,"Agriculture, Forestry and Fishing",101021010,Queanbeyan - East,0,3,0,0,0,0,3
4,A,"Agriculture, Forestry and Fishing",101021012,Queanbeyan West - Jerrabomberra,7,4,5,0,0,0,16

In [15]:
#renaming columns
column_names = {
    '0_to_50k_businesses': 'turnover_0_to_50k',
    '50k_to_200k_businesses': 'turnover_50k_to_200k',
    '200k_to_2m_businesses': 'turnover_200k_to_2m',
    '2m_to_5m_businesses': 'turnover_2m_to_5m',
    '5m_to_10m_businesses': 'turnover_5m_to_10m',
    '10m_or_more_businesses': 'turnover_10m_or_more',
}
business_data.rename(columns=column_names, inplace=True)

In [16]:
names = list(business_data['sa2_code'].unique())
print(min(name for name in names))

101021007

In [5]:
#creating table in database
conn.execute(text("""
DROP TABLE IF EXISTS business;
CREATE TABLE business(
    industry_code CHAR(1),
    industry_name VARCHAR(50),
    sa2_code INTEGER,
    sa2_name VARCHAR(50),
    turnover_0_to_50k INTEGER,
    turnover_50k_to_200k INTEGER,
    turnover_200k_to_2m INTEGER,
    turnover_2m_to_5m INTEGER,
    turnover_5m_to_10m INTEGER,
    turnover_10m_or_more INTEGER,
    total_businesses INTEGER,
    PRIMARY KEY (industry_code, sa2_code)
);"""))

In [18]:
#ingesting data
business_data.to_sql("business", con=conn, if_exists='append', index=False)
conn.commit()

In [19]:
#test query
query(
    """
    SELECT *
    FROM business
    ORDER BY sa2_code, industry_code
    LIMIT 5;
    """
)

,industry_code,industry_name,sa2_code,sa2_name,turnover_0_to_50k,turnover_50k_to_200k,turnover_200k_to_2m,turnover_2m_to_5m,turnover_5m_to_10m,turnover_10m_or_more,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,B,Mining,101021007,Braidwood,0,0,0,0,0,0,3
2,C,Manufacturing,101021007,Braidwood,10,8,3,3,0,0,23
3,D,"Electricity, Gas, Water and Waste Services",101021007,Braidwood,3,0,0,0,0,0,3
4,E,Construction,101021007,Braidwood,18,28,41,3,0,3,91

# Stops.txt
    Locations of all public transport stops (train and bus) in General Transit Feed Specification (GTFS) format.
    Originally in .txt but can be changed to .csv (may want us to do this using python!)
    Needs a LOT of cleaning
    [Documentation](https://gtfs.org/documentation/schedule/reference/#stopstxt)
    
#### stop_id
    primary key?
    Typically 3-8 digits, but some have a G in front
#### stop_code
    Matches stop_id when info is public-facing
    Left empty when a code is not presented to riders
#### stop_name
    Name of stop as it would appear on google maps or elsewhere
#### stop_lat
    Latitude of the stop
#### stop_lon
    Longitude of the stop
    Longitude and latitude are both in WGS84, as per GTFS format https://gtfs.org/documentation/schedule/reference/#
    
#### location_type
    Null/0: Stop or platform
    1: Station
    2: Entrance/Exit
    3: Generic Node (such as pathway)
    4: Boarding Area
#### parent_station
    - Stop/platform (location_type=0): the parent_station field contains the ID of a station.
    - Station (location_type=1): this field must be empty.
    - Entrance/exit (location_type=2) or generic node (location_type=3): the parent_station field contains the ID of a station (location_type=1)
    - Boarding Area (location_type=4): the parent_station field contains ID of a platform.
#### wheelchair_boarding
    Indicates whether wheelchair boardings are possible from the location. Valid options are:

    For parentless stops:
    0 or empty - No accessibility information for the stop.
    1 - Some vehicles at this stop can be boarded by a rider in a wheelchair.
    2 - Wheelchair boarding is not possible at this stop.
    
    For child stops:
    0 or empty - Stop will inherit its wheelchair_boarding behavior from the parent station, if specified in the parent.
    1 - There exists some accessible path from outside the station to the specific stop/platform.
    2 - There exists no accessible path from outside the station to the specific stop/platform.
    
    For station entrances/exits:
    0 or empty - Station entrance will inherit its wheelchair_boarding behavior from the parent station, if specified for the parent.
    1 - Station entrance is wheelchair accessible.
    2 - No accessible path from station entrance to stops/platforms.
#### platform_code
    Platform number (for trains?)

In [114]:
#reading txt to dataframe
stop_data = pd.read_csv('Stops.txt')
stop_data.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code
0,200039,200039.0,"Central Station, Eddy Av, Stand A",-33.882206,151.206665,NaN,200060,0,NaN
1,200054,200054.0,"Central Station, Eddy Av, Stand D",-33.882042,151.206991,NaN,200060,0,NaN
2,200060,NaN,Central Station,-33.884084,151.206292,1.0,NaN,0,NaN
3,201510,NaN,Redfern Station,-33.891690,151.198866,1.0,NaN,0,NaN
4,201646,201646.0,"Redfern Station, Gibbons St, Stand B",-33.893329,151.198882,NaN,201510,0,NaN

In [115]:
#filtering out things that arent stops (all stops have location_type = NaN)
stop_data = stop_data[stop_data["location_type"].isna()]

In [116]:
#creating geom data from longitude and latitude
stop_data['geom'] = gpd.points_from_xy(stop_data.stop_lon, stop_data.stop_lat)  # creating the geometry column
stop_data.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,geom
0,200039,200039.0,"Central Station, Eddy Av, Stand A",-33.882206,151.206665,NaN,200060,0,NaN,POINT (151.20666 -33.88221)
1,200054,200054.0,"Central Station, Eddy Av, Stand D",-33.882042,151.206991,NaN,200060,0,NaN,POINT (151.20699 -33.88204)
4,201646,201646.0,"Redfern Station, Gibbons St, Stand B",-33.893329,151.198882,NaN,201510,0,NaN,POINT (151.19888 -33.89333)
5,204230,204230.0,"St Peters Station, King St",-33.906314,151.181117,NaN,204410,0,NaN,POINT (151.18112 -33.90631)
6,204311,204311.0,King St Opp St Peters Station,-33.906423,151.181371,NaN,204410,0,NaN,POINT (151.18137 -33.90642)

In [117]:
#converting to geodataframe and changing coord system (currently EPSG:4326)
stop_data = gpd.GeoDataFrame(stop_data, geometry='geom', crs='EPSG:4326')
stop_data.to_crs(epsg=4283)

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,geom
0,200039,200039.0,"Central Station, Eddy Av, Stand A",-33.882206,151.206665,NaN,200060,0,NaN,POINT (151.20666 -33.88221)
1,200054,200054.0,"Central Station, Eddy Av, Stand D",-33.882042,151.206991,NaN,200060,0,NaN,POINT (151.20699 -33.88204)
4,201646,201646.0,"Redfern Station, Gibbons St, Stand B",-33.893329,151.198882,NaN,201510,0,NaN,POINT (151.19888 -33.89333)
5,204230,204230.0,"St Peters Station, King St",-33.906314,151.181117,NaN,204410,0,NaN,POINT (151.18112 -33.90631)
6,204311,204311.0,King St Opp St Peters Station,-33.906423,151.181371,NaN,204410,0,NaN,POINT (151.18137 -33.90642)
...,...,...,...,...,...,...,...,...,...,...
114712,212751,212751.0,"Sydney Olympic Park Wharf, Side A",-33.821961,151.078827,NaN,21271,1,A,POINT (151.07883 -33.82196)
114713,212753,212753.0,"Sydney Olympic Park Wharf, Side B",-33.822016,151.078797,NaN,21271,1,B,POINT (151.0788 -33.82202)
114714,2137185,2137185.0,"Cabarita Wharf, Side A",-33.840669,151.116926,NaN,21371,1,1A,POINT (151.11693 -33.84067)
114715,2137186,2137186.0,"Cabarita Wharf, Side B",-33.840769,151.116899,NaN,21371,1,1B,POINT (151.1169 -33.84077)
114716,21501,21501.0,Parramatta Wharf,-33.813904,151.010577,NaN,2150112,1,NaN,POINT (151.01058 -33.8139)

In [118]:
#changing into wkt format 
stop_data['geom'] = stop_data['geom'].apply(lambda geom: WKTElement(geom.wkt, srid=srid))

/var/folders/hr/2c3ryc0x6zz0rymg0b61wflc0000gn/T/ipykernel_51274/3274204895.py:2: UserWarning:

Geometry column does not contain geometry.

In [119]:
#dropping irrelevant columns
columns_to_drop = ["stop_code",
     "stop_lat",
     "stop_lon",
     "location_type",
     "parent_station", 
     "wheelchair_boarding", 
     "platform_code",
     "location_type"] 

    
stop_data.drop(columns_to_drop, axis=1, inplace=True)
stop_data.head()

,stop_id,stop_name,geom
0,200039,"Central Station, Eddy Av, Stand A",POINT (151.20666465471 -33.8822064874687)
1,200054,"Central Station, Eddy Av, Stand D",POINT (151.20699145565 -33.8820421431408)
4,201646,"Redfern Station, Gibbons St, Stand B",POINT (151.198881722942 -33.8933293130144)
5,204230,"St Peters Station, King St",POINT (151.181117167927 -33.9063142029908)
6,204311,King St Opp St Peters Station,POINT (151.181371008764 -33.9064227004899)

In [121]:
type(stop_data)

geopandas.geodataframe.GeoDataFrame

In [128]:
stop_data[stop_data['stop_name'].str.len() == 67]

,stop_id,stop_name,geom
38825,2480681,"Southern Cross Football Centre, Temporary Housing Site, Crawford Rd",POINT (153.299948395311 -28.8325532645948)

In [132]:
reset()
conn.execute(text("""
DROP TABLE IF EXISTS stops;
CREATE TABLE stops(
    stop_id VARCHAR(8) PRIMARY KEY,
    stop_name VARCHAR(67),
    geom GEOMETRY(POINT, 4283)
);"""))
conn.commit()

Connected successfully.

In [133]:
#ingesting data to database
#reset()
stop_data.to_sql('stops', conn, if_exists='append', index=False, dtype={'geom': Geometry('POINT', srid)})
conn.commit()

In [134]:
query("select * from stops limit 1")

,stop_id,stop_name,geom
0,200039,"Central Station, Eddy Av, Stand A",0101000020BB100000FFA631FF9CE66240A1FF6524ECF040C0

# SA2 Regions
Statistical Area Level 2 (SA2) digital boundaries
#### SA2_CODE21
    Primary key
    9 digit integer
#### SA2_NAME21
    Name of the SA2 area
#### CHG_FLAG21
    CHANGE_FLAG_2021
    Not sure what this means
    Seems to be 0, except for outside aus which is 1
#### CHG_LBL21
    CHANGE_LABEL_2021
    Same as above except with strings "No change" and "New"
#### SA3_CODE21
    SA3 code
    Larger area than SA2, smaller than SA4
    5 digit int
#### SA3_NAME21
    Name of SA3 area
#### SA4_CODE21
    SA4 code
    3 digit int
#### GCC_CODE21
    Greater Capital City Statistical Area code
    5 digit chars
#### GCC_NAME21
    Greater Captial City Statistical Area name
#### STE_CODE21
    State code
    1 digit int (NSW is 1)
#### STE_NAME21
    State name
#### AUS_CODE21
    AUS if in aus else ZZZ
#### AUS_NAME21
    Australia if in australia else Outside Australia
#### ARESQKM21
    Area of the SA2 region in square kilometers
#### LOCI_URI21
    ASGS_LOCI_URI_2021

In [5]:
# Reading in data
#school_data = gpd.read_file(os.path.join(os.getcwd(), "SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp"))
sa2_data = gpd.read_file("SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp")
sa2_data.head()

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.218 -35.366..."
2,101021009,Queanbeyan,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.1997 -35.35..."

In [6]:
#Filtering to only Greater Sydney
sa2_data = sa2_data[sa2_data["GCC_NAME21"] == "Greater Sydney"]
sa2_data.head()

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
28,102011028,Avoca Beach - Copacabana,0,No change,10201,Gosford,102,Central Coast,1GSYD,Greater Sydney,1,New South Wales,AUS,Australia,6.4376,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((151.41373 -33.46558, 151.41362 -33.4..."
29,102011029,Box Head - MacMasters Beach,0,No change,10201,Gosford,102,Central Coast,1GSYD,Greater Sydney,1,New South Wales,AUS,Australia,32.0802,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((151.37484 -33.50052, 151.37507 -33.5..."
30,102011030,Calga - Kulnura,0,No change,10201,Gosford,102,Central Coast,1GSYD,Greater Sydney,1,New South Wales,AUS,Australia,767.9512,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((151.20449 -33.5328, 151.20448 ..."
31,102011031,Erina - Green Point,0,No change,10201,Gosford,102,Central Coast,1GSYD,Greater Sydney,1,New South Wales,AUS,Australia,33.7934,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((151.37194 -33.43698, 151.37288 -33.4..."
32,102011032,Gosford - Springfield,0,No change,10201,Gosford,102,Central Coast,1GSYD,Greater Sydney,1,New South Wales,AUS,Australia,16.9123,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((151.32349 -33.42779, 151.32342 -33.4..."

In [7]:
#dropping irrelevant columns
columns_to_drop = ["AUS_CODE21", 
     "AUS_NAME21", 
     "STE_CODE21", 
     "STE_NAME21", 
     "GCC_NAME21", 
     "GCC_CODE21",
     "CHG_FLAG21", 
     "CHG_LBL21",
     "LOCI_URI21",
     "SA3_CODE21",
     "SA3_NAME21",
     "AREASQKM21"] 

    
sa2_data.drop(columns_to_drop, axis=1, inplace=True)
sa2_data.head()

,SA2_CODE21,SA2_NAME21,SA4_CODE21,SA4_NAME21,geometry
28,102011028,Avoca Beach - Copacabana,102,Central Coast,"POLYGON ((151.41373 -33.46558, 151.41362 -33.4..."
29,102011029,Box Head - MacMasters Beach,102,Central Coast,"POLYGON ((151.37484 -33.50052, 151.37507 -33.5..."
30,102011030,Calga - Kulnura,102,Central Coast,"MULTIPOLYGON (((151.20449 -33.5328, 151.20448 ..."
31,102011031,Erina - Green Point,102,Central Coast,"POLYGON ((151.37194 -33.43698, 151.37288 -33.4..."
32,102011032,Gosford - Springfield,102,Central Coast,"POLYGON ((151.32349 -33.42779, 151.32342 -33.4..."

In [8]:
#Renaming columns
column_names = {
    "SA2_CODE21": "sa2_code",
    "SA2_NAME21": "sa2_name",
    #"SA3_CODE21": "sa3_code",
    #"SA3_NAME21": "sa3_name",
    "SA4_CODE21": "sa4_code",
    "SA4_NAME21": "sa4_name",
    #"AREASQKM21": "sq_km",
    #"LOCI_URI21": "uri"
}
sa2_data.rename(columns=column_names, inplace=True)
sa2_data.head()

,sa2_code,sa2_name,sa4_code,sa4_name,geometry
28,102011028,Avoca Beach - Copacabana,102,Central Coast,"POLYGON ((151.41373 -33.46558, 151.41362 -33.4..."
29,102011029,Box Head - MacMasters Beach,102,Central Coast,"POLYGON ((151.37484 -33.50052, 151.37507 -33.5..."
30,102011030,Calga - Kulnura,102,Central Coast,"MULTIPOLYGON (((151.20449 -33.5328, 151.20448 ..."
31,102011031,Erina - Green Point,102,Central Coast,"POLYGON ((151.37194 -33.43698, 151.37288 -33.4..."
32,102011032,Gosford - Springfield,102,Central Coast,"POLYGON ((151.32349 -33.42779, 151.32342 -33.4..."

In [9]:
sa2_data.to_crs(4283, inplace=True)
sa2_data.crs

<Geographic 2D CRS: EPSG:4283>
Name: GDA94
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: Australia including Lord Howe Island, Macquarie Island, Ashmore and Cartier Islands, Christmas Island, Cocos (Keeling) Islands, Norfolk Island. All onshore and offshore.
- bounds: (93.41, -60.55, 173.34, -8.47)
Datum: Geocentric Datum of Australia 1994
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [29]:
#sa2_data.plot();
#plt.show()

In [30]:
#sa2_data.plot(column="sa4_name", categorical=True, legend=True, figsize=(14,16), cmap='jet');

In [30]:
#creating table in database
#reset()
#sa3_code INTEGER,
#sa3_name VARCHAR(50),
#sq_km DOUBLE PRECISION,

conn.execute(text("""
DROP TABLE IF EXISTS sa2;
CREATE TABLE sa2(
    sa2_code INTEGER PRIMARY KEY,
    sa2_name VARCHAR(50),
    sa4_code INTEGER,
    sa4_name VARCHAR(50),
    geom GEOMETRY(MULTIPOLYGON, 4283)
);"""))

In [31]:
#converting all geometry to multipolygons with proper srid

In [10]:
sa2og = sa2_data.copy()  # creating a copy of the original for later
sa2_data['geom'] = sa2_data['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
sa2_data = sa2_data.drop(columns="geometry")  # deleting the old copy
sa2_data.head()

,sa2_code,sa2_name,sa4_code,sa4_name,geom
28,102011028,Avoca Beach - Copacabana,102,Central Coast,MULTIPOLYGON (((151.4137275699985 -33.46559324...
29,102011029,Box Head - MacMasters Beach,102,Central Coast,MULTIPOLYGON (((151.3748353599985 -33.50053262...
30,102011030,Calga - Kulnura,102,Central Coast,MULTIPOLYGON (((151.2044848999985 -33.53281497...
31,102011031,Erina - Green Point,102,Central Coast,MULTIPOLYGON (((151.37193064999855 -33.4369917...
32,102011032,Gosford - Springfield,102,Central Coast,MULTIPOLYGON (((151.32348091999853 -33.4277979...

In [33]:
#ingesting data to database
#reset()
sa2_data.to_sql('sa2', conn, if_exists='append', index=False, dtype={'geom': Geometry('MULTIPOLYGON', srid)})
conn.commit()

In [34]:
query("select * from sa2")

,sa2_code,sa2_name,sa4_code,sa4_name,geom
0,102011028,Avoca Beach - Copacabana,102,Central Coast,0106000020BB100000010000000103000000010000005E...
1,102011029,Box Head - MacMasters Beach,102,Central Coast,0106000020BB1000000100000001030000000100000010...
2,102011030,Calga - Kulnura,102,Central Coast,0106000020BB1000000200000001030000000100000085...
3,102011031,Erina - Green Point,102,Central Coast,0106000020BB1000000100000001030000000100000041...
4,102011032,Gosford - Springfield,102,Central Coast,0106000020BB100000010000000103000000010000007E...
...,...,...,...,...,...
368,128011602,Caringbah,128,Sydney - Sutherland,0106000020BB10000001000000010300000001000000EF...
369,128011603,Caringbah South,128,Sydney - Sutherland,0106000020BB10000001000000010300000001000000E9...
370,128011604,Cronulla - Kurnell - Bundeena,128,Sydney - Sutherland,0106000020BB10000003000000010300000001000000C3...
371,128021608,Loftus - Yarrawarrah,128,Sydney - Sutherland,0106000020BB10000001000000010300000001000000A1...
372,128021609,Woronora Heights,128,Sydney - Sutherland,0106000020BB10000001000000010300000001000000F0...

# Catchments (Schools)
    Actually 3 different shp files: secondary, primary, and future
#### USE_ID
    Primary key 4 digit int
#### CATCH_TYPE
    What type of catchment zone
#### USE_DESC
    Name of school
#### ADD_DATE
    Date it was added to the dataset?
#### KINGERGART-YEAR12
    Boolean data expressed as Y or N
    Whether or not the school offers that grade
#### PRIORITY
    No idea

In [44]:
#reading in primary school data
primary_data = gpd.read_file("catchments/catchments_primary.shp")

In [45]:
#changing Y/N data to Boolean True/False for both primary and secondary
bool_columns = ["KINDERGART", 
                "YEAR1", 
                "YEAR2", 
                "YEAR3", 
                "YEAR4", 
                "YEAR5", 
                "YEAR6", 
                "YEAR7", 
                "YEAR8", 
                "YEAR9", 
                "YEAR10", 
                "YEAR11", 
                "YEAR12"]
for column in bool_columns:
    primary_data[column] = primary_data[column].map({"Y": True, "N": False})

In [46]:
#turn all geom into multipolygons
pcatchog = primary_data.copy()  # creating a copy of the original for later
primary_data['geom'] = primary_data['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
primary_data = primary_data.drop(columns="geometry")  # deleting the old copy

In [47]:
#rename
primary_data.columns = primary_data.columns.str.lower()

In [19]:
#reset()

Connected successfully.

In [48]:
conn.execute(text("""
DROP TABLE IF EXISTS pcatch;
CREATE TABLE pcatch(
    use_id INTEGER PRIMARY KEY,
    catch_type VARCHAR(50),
    use_desc VARCHAR(50),
    add_date DATE,
    kindergart BOOLEAN,
    year1 BOOLEAN,
    year2 BOOLEAN,
    year3 BOOLEAN,
    year4 BOOLEAN,
    year5 BOOLEAN,
    year6 BOOLEAN,
    year7 BOOLEAN,
    year8 BOOLEAN,
    year9 BOOLEAN,
    year10 BOOLEAN,
    year11 BOOLEAN,
    year12 BOOLEAN,
    priority VARCHAR(50),
    geom GEOMETRY(MULTIPOLYGON, 4283)
);"""))
conn.commit()

In [49]:
#reset()
primary_data.to_sql('pcatch', conn, if_exists='append', index=False, dtype={'geom': Geometry('MULTIPOLYGON', srid)})
conn.commit()
print("a")

a

In [50]:
query("SELECT * FROM pcatch LIMIT 3")

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,priority,geom
0,2838,PRIMARY,Parklea PS,2018-12-10,True,True,True,True,True,True,True,False,False,False,False,False,False,None,0106000020BB1000000100000001030000000100000078...
1,2404,PRIMARY,Lindfield EPS,2021-12-19,True,True,True,True,True,True,True,False,False,False,False,False,False,None,0106000020BB10000001000000010300000001000000BE...
2,4393,PRIMARY,Carlingford WPS,2022-02-23,True,True,True,True,True,True,True,False,False,False,False,False,False,None,0106000020BB1000000100000001030000000100000065...

# SECONDARY!!!!!!!!!!!!!!!

In [51]:
#reading in secondary school data
secondary_data = gpd.read_file("catchments/catchments_secondary.shp")

In [52]:
#changing Y/N data to Boolean True/False for both primary and secondary
bool_columns = ["KINDERGART", 
                "YEAR1", 
                "YEAR2", 
                "YEAR3", 
                "YEAR4", 
                "YEAR5", 
                "YEAR6", 
                "YEAR7", 
                "YEAR8", 
                "YEAR9", 
                "YEAR10", 
                "YEAR11", 
                "YEAR12"]
for column in bool_columns:
    secondary_data[column] = secondary_data[column].map({"Y": True, "N": False})

In [53]:
#turn all geom into multipolygons
scatchog = primary_data.copy()  # creating a copy of the original for later
secondary_data['geom'] = secondary_data['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
secondary_data = secondary_data.drop(columns="geometry")  # deleting the old copy

In [54]:
#rename all columns to lower
secondary_data.columns = secondary_data.columns.str.lower()

In [67]:
conn.execute(text("""
DROP TABLE IF EXISTS scatch;
CREATE TABLE scatch(
    use_id INTEGER PRIMARY KEY,
    catch_type VARCHAR(50),
    use_desc VARCHAR(50),
    add_date DATE,
    kindergart BOOLEAN,
    year1 BOOLEAN,
    year2 BOOLEAN,
    year3 BOOLEAN,
    year4 BOOLEAN,
    year5 BOOLEAN,
    year6 BOOLEAN,
    year7 BOOLEAN,
    year8 BOOLEAN,
    year9 BOOLEAN,
    year10 BOOLEAN,
    year11 BOOLEAN,
    year12 BOOLEAN,
    priority VARCHAR(50),
    geom GEOMETRY(MULTIPOLYGON, 4283)
);"""))
conn.commit()

In [68]:
#reset()
secondary_data.to_sql('scatch', conn, if_exists='append', index=False, dtype={'geom': Geometry('MULTIPOLYGON', srid)})
conn.commit()
print("a")

a

In [57]:
query("Select * from scatch limit 1")

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,priority,geom
0,8503,HIGH_COED,Billabong HS,2020-05-07,False,False,False,False,False,False,False,True,True,True,True,True,True,None,0106000020BB100000010000000103000000010000006D...

# FUTURE!!!!!!!!!!!!!!

In [61]:
#reading in future school data
future_data = gpd.read_file("catchments/catchments_future.shp")
future_data.head()

,USE_ID,CATCH_TYPE,USE_DESC,ADD_DATE,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,8416,HIGH_COED,Ku-ring-gai HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19849 -33.5399, 151.19945 -33.54..."
1,8161,HIGH_BOYS,Randwick BHS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
2,8539,HIGH_COED,SSC Blackwattle Bay,20220609,0,0,0,0,0,0,0,0,0,0,0,2024,2024,"POLYGON ((151.15292 -33.83939, 151.16144 -33.8..."
3,8400,HIGH_COED,St Ives HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.17794 -33.6982, 151.17859 -33.69..."
4,8555,HIGH_COED,Rose Bay SC,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.28072 -33.83287, 151.28095 -33.8..."

In [63]:
#turn all geom into multipolygons
fcatchog = future_data.copy()  # creating a copy of the original for later
future_data['geom'] = future_data['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
future_data = future_data.drop(columns="geometry")  # deleting the old copy

In [72]:
#rename all columns to lower
future_data.columns = future_data.columns.str.lower()

In [66]:
reset()
conn.execute(text("""
DROP TABLE IF EXISTS fcatch;
CREATE TABLE fcatch(
    use_id INTEGER PRIMARY KEY,
    catch_type VARCHAR(50),
    use_desc VARCHAR(50),
    add_date DATE,
    kindergart SMALLINT,
    year1 SMALLINT,
    year2 SMALLINT,
    year3 SMALLINT,
    year4 SMALLINT,
    year5 SMALLINT,
    year6 SMALLINT,
    year7 SMALLINT,
    year8 SMALLINT,
    year9 SMALLINT,
    year10 SMALLINT,
    year11 SMALLINT,
    year12 SMALLINT,
    geom GEOMETRY(MULTIPOLYGON, 4283)
);"""))
conn.commit()

Connected successfully.

In [73]:
#reset()
future_data.to_sql('fcatch', conn, if_exists='append', index=False, dtype={'geom': Geometry('MULTIPOLYGON', srid)})
conn.commit()
print("a")

a

In [74]:
query("select * from fcatch limit 1")

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,geom
0,8416,HIGH_COED,Ku-ring-gai HS,2023-01-14,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,0106000020BB1000000100000001030000000100000090...

# Task 2

### Develop a function that returns all points of interest from the API within a specified bounding box of coordinates
    Modify function from week 7
    API Page link: https://datasets.seed.nsw.gov.au/dataset/nsw-points-of-interest-poi/resource/1fb2c181-296d-4559-947d-bce37ddc50ea
    API link: https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer
    
    
    Done! Functions at top of page
    
### Build a loop that cycles through each SA2 region within your selected SA4 region, waits a second before executing, then runs the function for that region's bounding box to find all POIs within that SA2 region
### Ingest results of loop into localhost database. Retain columns of interest, use NSW Topographic Data Dictionary for data definitions

In [45]:
#Convert all Polygons to MultiPolygon
sa2og["geometry"] = sa2og["geometry"].apply(
    lambda geom: MultiPolygon([geom]) if isinstance(geom, Polygon) else geom
)

In [143]:
sa2og.iloc[0]

sa2_code                                            102011028
sa2_name                             Avoca Beach - Copacabana
sa4_code                                                  102
sa4_name                                        Central Coast
geometry    MULTIPOLYGON (((151.4137275699985 -33.46559324...
Name: 28, dtype: object

In [150]:
test = sa2og[sa2og['sa2_name'] == 'Marrickville - South']['geometry'].iloc[0]
#sa2og.iloc[1]['geometry']
#sa2og[sa2og['sa2_name'] == 'Marrickville - South']['geometry'].iloc[0]
response = nearbyPOI(test)
#json.dumps(mpoly_to_esri_json(test))

In [151]:
len(response)

57

In [156]:
#[x['attributes']['poiname'] for x in response if x['attributes']['poiname']]
response

[{'attributes': {'objectid': 2775,
   'topoid': 500304281,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': 'SAINT NICHOLAS',
   'poilabel': 'SAINT NICHOLAS',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'ORTHODOX',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1417077129000,
   'enddate': 32503680000000,
   'lastupdate': 1417077158543,
   'msoid': 172120,
   'centroidid': None,
   'shapeuuid': 'd9c8f065-7302-325f-ac05-dae7aea7e5f6',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1487259247928, 'y': -33.91064025581394}},
 {'attributes': {'objectid': 2776,
   'topoid': 500304303,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': "PARISH OF ST BRIGID'S",
   'poilabel': "PARISH OF ST BRIGID'S",
   'poilabeltype': 'NAMED',
   'poialtlabel': 'CATHOLIC',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1417077129000,
   'enddate': 32503680000000,
   'lastupdate': 1417077158545,
   'msoid': 172121,
   'centroidid': None,
   'shapeuuid': '390df437-c8a0-3ae3-a787-086b0fa3fef9',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15222230711746, 'y': -33.90933227625911}},
 {'attributes': {'objectid': 3066,
   'topoid': 500323385,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'MACKEY PARK',
   'poilabel': 'MACKEY PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 93287,
   'centroidid': None,
   'shapeuuid': '782c94dc-f6a7-338c-992a-47f7376dd795',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15511659631784, 'y': -33.92162858920388}},
 {'attributes': {'objectid': 26262,
   'topoid': 504377999,
   'poigroup': 3,
   'poitype': 'Club',
   'poiname': 'MARRICKVILLE GOLF CLUB',
   'poilabel': 'MARRICKVILLE GOLF CLUB',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 41,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 4583,
   'centroidid': None,
   'shapeuuid': '3bfa59a9-34f2-3e65-8deb-84e61b3994d8',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.13928818938356, 'y': -33.91942629114084}},
 {'attributes': {'objectid': 26279,
   'topoid': 504378052,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'MCNEILLY PARK',
   'poilabel': 'MCNEILLY PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 90509,
   'centroidid': None,
   'shapeuuid': '4fed8400-59d5-301d-99b8-b5813255ecde',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15048244288866, 'y': -33.91311710155108}},
 {'attributes': {'objectid': 26280,
   'topoid': 504378054,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': None,
   'poilabel': 'SEVENTH DAY ADVENTIST CHURCH',
   'poilabeltype': 'DERIVED',
   'poialtlabel': 'SEVENTH DAY ADVENTIST',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 58346,
   'centroidid': None,
   'shapeuuid': '26d23db7-679f-3a24-98f5-76c65df30198',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1439751403953, 'y': -33.916514369598126}},
 {'attributes': {'objectid': 26282,
   'topoid': 504378060,
   'poigroup': 3,
   'poitype': 'Lookout',
   'poiname': 'RICHARDSONS LOOKOUT',
   'poilabel': 'RICHARDSONS LOOKOUT',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 56,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 83280,
   'centroidid': None,
   'shapeuuid': '0d46d5e7-7866-30f3-ae7c-746858f1e3d4',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1500219817454, 'y': -33.9211814300694}},
 {'attributes': {'objectid': 26283,
   'topoid': 504378062,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'WARREN PARK',
   'poilabel': 'WARREN PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 85124,
   'centroidid': None,
   'shapeuuid': '39388e7a-8d14-334a-9dd5-f341d96dc041',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.14982364451043, 'y': -33.92173805681584}},
 {'attributes': {'objectid': 26284,
   'topoid': 504378063,
   'poigroup': 3,
   'poitype': 'Sports Field',
   'poiname': None,
   'poilabel': 'BOWLING GREENS',
   'poilabeltype': 'ALTERNATE',
   'poialtlabel': 'BOWLING GREENS',
   'poisourcefeatureoid': 67,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 100225,
   'centroidid': None,
   'shapeuuid': '531403b6-560f-3976-9db4-01448bcd6579',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'S'},
  'geometry': {'x': 151.1556774639571, 'y': -33.92284611281588}},
 {'attributes': {'objectid': 26286,
   'topoid': 504378067,
   'poigroup': 3,
   'poitype': 'Club',
   'poiname': 'SYDNEY PORTUGAL COMMUNITY CLUB',
   'poilabel': 'SYDNEY PORTUGAL COMMUNITY CLUB',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 41,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 3371,
   'centroidid': None,
   'shapeuuid': '8f12382f-b291-37bf-8782-b9d5a5e599e2',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1609443394685, 'y': -33.91560264285213}},
 {'attributes': {'objectid': 26287,
   'topoid': 504378068,
   'poigroup': 3,
   'poitype': 'Sports Court',
   'poiname': None,
   'poilabel': 'TENNIS COURTS',
   'poilabeltype': 'ALTERNATE',
   'poialtlabel': 'TENNIS COURTS',
   'poisourcefeatureoid': 66,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 98613,
   'centroidid': None,
   'shapeuuid': 'ec0222aa-5907-3785-901b-4675af475346',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.16147403916057, 'y': -33.91506112941667}},
 {'attributes': {'objectid': 26288,
   'topoid': 504378069,
   'poigroup': 3,
   'poitype': 'Sports Field',
   'poiname': None,
   'poilabel': 'BOWLING GREENS',
   'poilabeltype': 'ALTERNATE',
   'poialtlabel': 'BOWLING GREENS',
   'poisourcefeatureoid': 67,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 101846,
   'centroidid': None,
   'shapeuuid': 'c8d8d234-4c30-3758-a7d3-78d3659e469c',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.16105381715215, 'y': -33.915329564771326}},
 {'attributes': {'objectid': 26289,
   'topoid': 504378070,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'FRASER PARK',
   'poilabel': 'FRASER PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 91206,
   'centroidid': None,
   'shapeuuid': '877e3176-dd40-39aa-acf5-a51ab753ddb4',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.16270975088565, 'y': -33.91541707944623}},
 {'attributes': {'objectid': 26292,
   'topoid': 504378076,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': 'MARRICKVILLE ROAD CHURCH',
   'poilabel': 'MARRICKVILLE ROAD CHURCH',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'ANGLICAN',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1417077129000,
   'enddate': 32503680000000,
   'lastupdate': 1417077158551,
   'msoid': 172124,
   'centroidid': None,
   'shapeuuid': '44b770ae-e316-3ade-92e8-9f174c9251c6',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15464889205845, 'y': -33.90994730439797}},
 {'attributes': {'objectid': 26299,
   'topoid': 504378088,
   'poigroup': 2,
   'poitype': 'High School',
   'poiname': 'CASIMIR CATHOLIC COLLEGE',
   'poilabel': 'CASIMIR CATHOLIC COLLEGE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 34,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 10779,
   'centroidid': None,
   'shapeuuid': 'a9c0f399-a0da-31ea-8964-242a3587d892',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1511284321892, 'y': -33.91093011485734}},
 {'attributes': {'objectid': 26300,
   'topoid': 504378093,
   'poigroup': 1,
   'poitype': 'Nursing Home',
   'poiname': 'THE MARONITE SISTERS OF THE HOLY FAMILY VILLAGE',
   'poilabel': 'THE MARONITE SISTERS OF THE HOLY FAMILY VILLAGE',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'RESIDENTIAL',
   'poisourcefeatureoid': 4,
   'accesscontrol': 1,
   'startdate': 1646842895000,
   'enddate': 32503680000000,
   'lastupdate': 1646842952492,
   'msoid': 236280,
   'centroidid': None,
   'shapeuuid': '598c4a2b-e86d-394d-b998-a0650bea6f5c',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.14635129481456, 'y': -33.91010851225513}},
 {'attributes': {'objectid': 26301,
   'topoid': 504378094,
   'poigroup': 2,
   'poitype': 'Combined Primary-Secondary School',
   'poiname': "ST MAROUN'S COLLEGE",
   'poilabel': "ST MAROUN'S COLLEGE",
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 32,
   'accesscontrol': 1,
   'startdate': 1433344107000,
   'enddate': 32503680000000,
   'lastupdate': 1433344240587,
   'msoid': 188307,
   'centroidid': None,
   'shapeuuid': 'efcad3ee-6f9d-303c-998b-6ecf80eaa4ee',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.144472058766, 'y': -33.90877342580224}},
 {'attributes': {'objectid': 26303,
   'topoid': 504378096,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'GILBERT BARRY RESERVE',
   'poilabel': 'GILBERT BARRY RESERVE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 88635,
   'centroidid': None,
   'shapeuuid': '3e249f85-1f5b-3009-bed5-492df12d061c',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.14442435283456, 'y': -33.90806610528656}},
 {'attributes': {'objectid': 26307,
   'topoid': 504378106,
   'poigroup': 1,
   'poitype': 'Post Office',
   'poiname': 'MARRICKVILLE POST OFFICE',
   'poilabel': 'MARRICKVILLE POST OFFICE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 21,
   'accesscontrol': 1,
   'startdate': 1319808298000,
   'enddate': 32503680000000,
   'lastupdate': 1319808324390,
   'msoid': 132675,
   'centroidid': None,
   'shapeuuid': '7d1fb5b8-a67d-3e8e-ba2f-aca058e616cf',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15721418586244, 'y': -33.91108777369175}},
 {'attributes': {'objectid': 26310,
   'topoid': 504378111,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'LOUISA LAWSON RESERVE',
   'poilabel': 'LOUISA LAWSON RESERVE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 94617,
   'centroidid': None,
   'shapeuuid': 'e63c5a35-b057-3fdc-9b6c-62b65b7da107',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.14887030741517, 'y': -33.91585442335777}},
 {'attributes': {'objectid': 26311,
   'topoid': 504378112,
   'poigroup': 1,
   'poitype': 'Post Office',
   'poiname': 'MARRICKVILLE SOUTH POST OFFICE',
   'poilabel': 'MARRICKVILLE SOUTH POST OFFICE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 21,
   'accesscontrol': 1,
   'startdate': 1319808298000,
   'enddate': 32503680000000,
   'lastupdate': 1319808324443,
   'msoid': 132676,
   'centroidid': None,
   'shapeuuid': '116eb1a3-f164-3685-a148-534e2eb5b8d4',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1516799950787, 'y': -33.91530531658401}},
 {'attributes': {'objectid': 26312,
   'topoid': 504378113,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': 'MARRICKVILLE UNITING CHURCH',
   'poilabel': 'MARRICKVILLE UNITING CHURCH',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'UNITING',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1417077129000,
   'enddate': 32503680000000,
   'lastupdate': 1417077158553,
   'msoid': 172125,
   'centroidid': None,
   'shapeuuid': 'e560fe3a-c391-3175-a62a-732c9ff6827e',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15015605530152, 'y': -33.91561799817063}},
 {'attributes': {'objectid': 26313,
   'topoid': 504378114,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': None,
   'poilabel': 'CHURCH OF CHRIST',
   'poilabeltype': 'ALTERNATE',
   'poialtlabel': 'CHURCH OF CHRIST',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 61698,
   'centroidid': None,
   'shapeuuid': '048ca1ad-ff7a-336b-9b2b-7da4a60db6e4',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15221224957955, 'y': -33.9150256944613}},
 {'attributes': {'objectid': 26314,
   'topoid': 504378115,
   'poigroup': 3,
   'poitype': 'Club',
   'poiname': 'MARRICKVILLE RSL CLUB',
   'poilabel': 'MARRICKVILLE RSL CLUB',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 41,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 4471,
   'centroidid': None,
   'shapeuuid': '6a1fd790-12c7-3742-b55a-dd579ff836f1',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15384020618177, 'y': -33.91333884367811}},
 {'attributes': {'objectid': 26316,
   'topoid': 504378118,
   'poigroup': 1,
   'poitype': 'Place Of Worship',
   'poiname': 'SILVER STREET BAPTIST MISSION',
   'poilabel': 'SILVER STREET BAPTIST MISSION',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'BAPTIST',
   'poisourcefeatureoid': 19,
   'accesscontrol': 1,
   'startdate': 1417077129000,
   'enddate': 32503680000000,
   'lastupdate': 1417077158557,
   'msoid': 172126,
   'centroidid': None,
   'shapeuuid': 'c440a2fa-2900-32f4-bc77-a49b04b53bbc',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1564169292512, 'y': -33.91213574321049}},
 {'attributes': {'objectid': 26318,
   'topoid': 504378123,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'NESS PLAYGROUND',
   'poilabel': 'NESS PLAYGROUND',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 93399,
   'centroidid': None,
   'shapeuuid': 'b0f525fa-80a3-36c7-8bf3-b624670af0e9',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.14822427319876, 'y': -33.91052820562588}},
 {'attributes': {'objectid': 26319,
   'topoid': 504378126,
   'poigroup': 1,
   'poitype': 'Nursing Home',
   'poiname': 'COLUMBIA AGED CARE SERVICES-ACACIA CENTRE',
   'poilabel': 'COLUMBIA AGED CARE SERVICES-ACACIA CENTRE',
   'poilabeltype': 'NAMED',
   'poialtlabel': 'RESIDENTIAL',
   'poisourcefeatureoid': 4,
   'accesscontrol': 1,
   'startdate': 1646842895000,
   'enddate': 32503680000000,
   'lastupdate': 1646842952494,
   'msoid': 236281,
   'centroidid': None,
   'shapeuuid': '98dc90c9-1686-35f9-84a2-f64f42c2ed1e',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.147428020904, 'y': -33.907525891167154}},
 {'attributes': {'objectid': 26339,
   'topoid': 504378174,
   'poigroup': 4,
   'poitype': 'Railway Station',
   'poiname': 'MARRICKVILLE RAILWAY STATION',
   'poilabel': 'MARRICKVILLE RAILWAY STATION',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 76,
   'accesscontrol': 1,
   'startdate': 1401206068000,
   'enddate': 32503680000000,
   'lastupdate': 1401206226315,
   'msoid': 166359,
   'centroidid': None,
   'shapeuuid': '587a4587-62e0-38b9-9e38-ac98f41651bc',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15355699881374, 'y': -33.91392879888763}},
 {'attributes': {'objectid': 29087,
   'topoid': 504594045,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'MAHONEY MEMORIAL RESERVE',
   'poilabel': 'MAHONEY MEMORIAL RESERVE',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1581499999000,
   'enddate': 32503680000000,
   'lastupdate': 1581500026782,
   'msoid': 223206,
   'centroidid': None,
   'shapeuuid': '956c7bd2-1201-3d6e-aa76-6b289b8221cf',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.1419196998038, 'y': -33.92169288717742}},
 {'attributes': {'objectid': 29103,
   'topoid': 504594063,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'RICHARDS PARK',
   'poilabel': 'RICHARDS PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 90661,
   'centroidid': None,
   'shapeuuid': '5c025735-4dfa-378a-a44f-a163e919f496',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.13776902774532, 'y': -33.91414937593987}},
 {'attributes': {'objectid': 29104,
   'topoid': 504594064,
   'poigroup': 3,
   'poitype': 'Park',
   'poiname': 'RIVERSIDE PARK',
   'poilabel': 'RIVERSIDE PARK',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 61,
   'accesscontrol': 1,
   'startdate': 1285588392000,
   'enddate': 32503680000000,
   'lastupdate': 1285588392535,
   'msoid': 88097,
   'centroidid': None,
   'shapeuuid': 'b92f765e-7206-33a8-9c15-f835e550dc5b',
   'changetype': 'I',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.13835357767036, 'y': -33.92049206417734}},
 {'attributes': {'objectid': 53175,
   'topoid': 511752097,
   'poigroup': 8,
   'poitype': 'Urban Place',
   'poiname': 'THE WARREN',
   'poilabel': 'THE WARREN',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,
   'poisourcefeatureoid': 164,
   'accesscontrol': 1,
   'startdate': 1536763238000,
   'enddate': 32503680000000,
   'lastupdate': 1536763493987,
   'msoid': 214222,
   'centroidid': None,
   'shapeuuid': '3e4708a1-927d-305d-9c40-979c0df7c7a7',
   'changetype': 'M',
   'processstate': None,
   'urbanity': 'U'},
  'geometry': {'x': 151.15239384131925, 'y': -33.91714239523517}},
 {'attributes': {'objectid': 97797,
   'topoid': 514234552,
   'poigroup': 8,
   'poitype': 'Urban Place',
   'poiname': 'MARRICKVILLE SOUTH',
   'poilabel': 'MARRICKVILLE SOUTH',
   'poilabeltype': 'NAMED',
   'poialtlabel': None,

In [158]:
mv_south_data = pd.DataFrame(response)

In [159]:
mv_south_data

,attributes,geometry
0,"{'objectid': 2775, 'topoid': 500304281, 'poigr...","{'x': 151.1487259247928, 'y': -33.91064025581394}"
1,"{'objectid': 2776, 'topoid': 500304303, 'poigr...","{'x': 151.15222230711746, 'y': -33.90933227625..."
2,"{'objectid': 3066, 'topoid': 500323385, 'poigr...","{'x': 151.15511659631784, 'y': -33.92162858920..."
3,"{'objectid': 26262, 'topoid': 504377999, 'poig...","{'x': 151.13928818938356, 'y': -33.91942629114..."
4,"{'objectid': 26279, 'topoid': 504378052, 'poig...","{'x': 151.15048244288866, 'y': -33.91311710155..."
5,"{'objectid': 26280, 'topoid': 504378054, 'poig...","{'x': 151.1439751403953, 'y': -33.916514369598..."
6,"{'objectid': 26282, 'topoid': 504378060, 'poig...","{'x': 151.1500219817454, 'y': -33.9211814300694}"
7,"{'objectid': 26283, 'topoid': 504378062, 'poig...","{'x': 151.14982364451043, 'y': -33.92173805681..."
8,"{'objectid': 26284, 'topoid': 504378063, 'poig...","{'x': 151.1556774639571, 'y': -33.92284611281588}"
9,"{'objectid': 26286, 'topoid': 504378067, 'poig...","{'x': 151.1609443394685, 'y': -33.91560264285213}"
10,"{'objectid': 26287, 'topoid': 504378068, 'poig...","{'x': 151.16147403916057, 'y': -33.91506112941..."
11,"{'objectid': 26288, 'topoid': 504378069, 'poig...","{'x': 151.16105381715215, 'y': -33.91532956477..."
12,"{'objectid': 26289, 'topoid': 504378070, 'poig...","{'x': 151.16270975088565, 'y': -33.91541707944..."
13,"{'objectid': 26292, 'topoid': 504378076, 'poig...","{'x': 151.15464889205845, 'y': -33.90994730439..."
14,"{'objectid': 26299, 'topoid': 504378088, 'poig...","{'x': 151.1511284321892, 'y': -33.91093011485734}"
15,"{'objectid': 26300, 'topoid': 504378093, 'poig...","{'x': 151.14635129481456, 'y': -33.91010851225..."
16,"{'objectid': 26301, 'topoid': 504378094, 'poig...","{'x': 151.144472058766, 'y': -33.90877342580224}"
17,"{'objectid': 26303, 'topoid': 504378096, 'poig...","{'x': 151.14442435283456, 'y': -33.90806610528..."
18,"{'objectid': 26307, 'topoid': 504378106, 'poig...","{'x': 151.15721418586244, 'y': -33.91108777369..."
19,"{'objectid': 26310, 'topoid': 504378111, 'poig...","{'x': 151.14887030741517, 'y': -33.91585442335..."
20,"{'objectid': 26311, 'topoid': 504378112, 'poig...","{'x': 151.1516799950787, 'y': -33.91530531658401}"
21,"{'objectid': 26312, 'topoid': 504378113, 'poig...","{'x': 151.15015605530152, 'y': -33.91561799817..."
22,"{'objectid': 26313, 'topoid': 504378114, 'poig...","{'x': 151.15221224957955, 'y': -33.9150256944613}"
23,"{'objectid': 26314, 'topoid': 504378115, 'poig...","{'x': 151.15384020618177, 'y': -33.91333884367..."
24,"{'objectid': 26316, 'topoid': 504378118, 'poig...","{'x': 151.1564169292512, 'y': -33.91213574321049}"
25,"{'objectid': 26318, 'topoid': 504378123, 'poig...","{'x': 151.14822427319876, 'y': -33.91052820562..."
26,"{'objectid': 26319, 'topoid': 504378126, 'poig...","{'x': 151.147428020904, 'y': -33.907525891167154}"
27,"{'objectid': 26339, 'topoid': 504378174, 'poig...","{'x': 151.15355699881374, 'y': -33.91392879888..."
28,"{'objectid': 29087, 'topoid': 504594045, 'poig...","{'x': 151.1419196998038, 'y': -33.92169288717742}"
29,"{'objectid': 29103, 'topoid': 504594063, 'poig...","{'x': 151.13776902774532, 'y': -33.91414937593..."
30,"{'objectid': 29104, 'topoid': 504594064, 'poig...","{'x': 151.13835357767036, 'y': -33.92049206417..."
31,"{'objectid': 53175, 'topoid': 511752097, 'poig...","{'x': 151.15239384131925, 'y': -33.91714239523..."
32,"{'objectid': 97797, 'topoid': 514234552, 'poig...","{'x': 151.1455004518999, 'y': -33.91906202228207}"
33,"{'objectid': 109242, 'topoid': 515790216, 'poi...","{'x': 151.15034035546182, 'y': -33.9154011060903}"
34,"{'objectid': 114499, 'topoid': 517013081, 'poi...","{'x': 151.1456376542882, 'y': -33.914525871638..."
35,"{'objectid': 114502, 'topoid': 517013084, 'poi...","{'x': 151.15195796796363, 'y': -33.92108373131..."
36,"{'objectid': 117227, 'topoid': 517016004, 'poi...","{'x': 151.1521623023514, 'y': -33.9102483590824}"
37,"{'objectid': 130793, 'topoid': 517473775, 'poi...","{'x': 151.15529705079044, 'y': -33.92300420132..."
38,"{'objectid': 134160, 'topoid': 517591406, 'poi...","{'x': 151.14282375352593, 'y': -33.91205438603..."
39,"{'objectid': 134170, 'topoid': 517591500, 'poi...","{'x': 151.1518500865862, 'y': -33.92266449351912}"
40,"{'objectid': 134172, 'topoid': 517591510, 'poi...","{'x': 151.14531977374682, 'y': -33.9198232526721}"
41,"{'objectid': 134195, 'topoid': 517591584, 'poi...","{'x': 151.14122775269323, 'y': -33.91682547307..."
42,"{'objectid': 134287, 'topoid': 517592009, 'poi...","{'x': 151.154138070462, 'y': -33.909927996025026}"
43,"{'objectid': 138614, 'topoid': 518127659, 'poi...","{'x': 151.14856082612167, 'y': -33.90801313748..."
44,"{'objectid': 141251, 'topoid': 518346407, 'poi...","{'x': 151.15635162711993, 'y': -33.91052625161..."
45,"{'objectid': 141313, 'topoid': 518347514, 'poi...","{'x': 151.15368235961, 'y': -33.913061157871994}"
46,"{'objectid': 142238, 'topoid': 518359916, 'poi...","{'x': 151.15946850986464, 'y': -33.91572474133..."
47,"{'objectid': 142239, 'topoid': 518359917, 'poi...","{'x': 151.15468388772697, 'y': -33.92074664051..."
48,"{'objectid': 145937, 'topoid': 504377762, 'poi...","{'x': 151.1564285112302, 'y': -33.92424291565486}"
49,"{'objectid': 162794, 'topoid': 504378058, 'poi...","{'x': 151.1448260012762, 'y': -33.92118606439173}"
50,"{'objectid': 163617, 'topoid': 504378074, 'poi...","{'x': 151.15955311229973, 'y': -33.91490423236..."
51,"{'objectid': 163618, 'topoid': 504378116, 'poi...","{'x': 151.15568819343483, 'y': -33.91375332058..."
52,"{'objectid': 163688, 'topoid': 517591570, 'poi...","{'x': 151.13983541341022, 'y': -33.91404464063..."
53,"{'objectid': 163699, 'topoid': 518344319, 'poi...","{'x': 151.15708482666494, 'y': -33.91106741589..."
54,"{'objectid': 163703, 'topoid': 518345786, 'poi...","{'x': 151.1406125279962, 'y': -33.91621086730284}"
55,"{'objectid': 163727, 'topoid': 518346681, 'poi...","{'x': 151.14137499465312, 'y': -33.91680421089..."
56,"{'objectid': 163758, 'topoid': 518471331, 'poi...","{'x': 151.14397454930378, 'y': -33.92192367428..."